# Node modules
node_modules/

# Environment files
.env
.env.local
.env.*.local

# Secrets
**/service_account.json
# Ignore sensitive Google credentials
backnd/data/service_account.json

*.pem
*.key
*.crt

# IDE files
.vscode/
.idea/

# Log files
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Build output
dist/
build/
out/
coverage/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# macOS
*.DS_Store

# System
*.swp
